@import url('https://fonts.googleapis.com/css2? family= Montserrat & family= Roboto:wght@300 & display=swap');
html{
    font-size: 62.5%;
    font-family: 'Montserrat', 'sans-serif';
    
}
*{
    margin: 0%;
}
/* Nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 136);
    border-bottom: solid black 2px;
}
    nav a img{
        width: 14em;
        height: 9em;
        border: solid 1.5px black;
        border-radius: 5%;

    }
    nav ul{
        list-style: none;
        display: flex;
    }
        nav ul li a:hover{
        text-decoration: underline;
        color: rgb(36, 34, 34);
        }
            nav ul li a{
            text-decoration: none;
            font-size: 2rem;
            color: aliceblue;
            margin: 25px;
        }
    #boton{
        font-size: 25px;
        border: solid 2px aliceblue;
    }

/* Header */

header{
    display: flex;
}
    header img{
        width: auto;
        height: 42rem;
    }
.imagenHeader{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    }
/* Main */

h1{
    font-size: 5rem;
    color: #0e485a;
    text-align: center;
    margin: 20px;
}
h2{
    font-size: 3.5rem;
    color: #0e485a;
    text-align: center;
    margin: 25px;
    text-decoration: underline;
}
p{
    font-size: 2rem;
    text-align: center;
    color: #0e485a;
    margin: 5px;
}

 .texto{
    border-style: double;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
} 
main section{
    display: flex;
    justify-content: space-evenly;
    margin: 25px;

}
/* main section img{
    width: 40rem;
    height: 50rem;
    border-radius: 2%;
    border: solid rgb(40, 38, 38) ;
} */
/* Footer */

footer{
    background-color: #0e485a;
    border: solid 2px black;
    }
    footer ul{
        list-style: none;
        text-decoration: none;
        display: flex;
        justify-content: center;
        }

        footer ul li img{
        width: 4rem ;
        height: 4rem;
        margin: 10px;
}

/* Galeria */
.textCenter{
    text-align: center;
}
main div img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border: none;
}
.gridClass{
    display: grid;  
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: repeat(2,300px);
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img4 img2 img5 img6";
}

#img1{
    grid-area: img1;
}
#img2{
    grid-area: img2;
}
#img3{
    grid-area: img3;
}
#img4{
    grid-area: img4;
}
#img5{
    grid-area: img5;
}
#img6{
    grid-area: img6;
}

/* Contacto */ 


/* responsive */

@media screen and (max-width: 910px){
    nav{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
   
@media screen and (max-width: 880px){
    main section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main section img{
        margin: 5px;
    }
    @media screen and (max-width: 770px){
       main section div{
        display: flex;
        flex-direction: column;
        align-items: center;
       }
       
    }
}  
@media screen and (max-width: 740px){
    .gridClass{
        display: grid;  
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3,300px);
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6";
    }
    nav{
        display: flex;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    
    #mainContacto{
        display: flex;
    }
    main{
        display: flex;
        flex-direction: column;
    };


    
}
@media screen and (max-width: 620px){
    /* .gridContacto{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: 
        "nav "
        "header"
        "main"
        "div"
        "aside"
        "footer"; */
    }
}
@media screen and (max-width: 500px){
    .gridClass{
        display: grid;  
        grid-template-columns: 100%;
        grid-template-rows: repeat(6,300px);
        grid-template-areas: 
        "img1"
        "img3"
        "img5"
        "img2"
        "img4"
        "img6";
    }
    footer ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

}
@media screen and (max-width: 350px){
    h2{
        margin: 5px;
    }
}
@media screen and (max-width: 290px){
    h2{
        font-size: 2.5rem;
    }
    h1{
        font-size: 3rem;
    }
}

/* transiciones */


.bg-Fondo{
    background: rgb(200,224,250);
    background: linear-gradient(0deg, rgba(200,224,250,1) 0%, rgba(250,245,185,1) 100%);
}
.transitionNav{
    background: rgb(130,195,231);
background: linear-gradient(90deg, rgba(130,195,231,1) 4%, rgba(32,14,144,1) 100%);
}

.transitionLogo:hover{
    transform: translateX(25px);
    cursor: pointer;
    transition: transform 1s;
}



/* animaciones */
@keyframes texto {
    from{opacity: 0;}
    to{opacity: 1;}
}
 h1{
    animation-name: texto;
    animation-duration: 2s;
 }
 h2{
    animation-name: texto;
    animation-duration: 3s;
 }
 p{
    animation-name: texto;
    animation-duration: 4s;
 }
 iframe{
    animation-name: texto;
    animation-duration: 6s;
 }
 form{
    animation-name: texto;
    animation-duration: 6s;
 }
 div div img{
    animation-name: texto;
    animation-duration: 6s;
 }
 /* Formulario */

 #formulario{
    font-size: 15px;
    margin-top: 80px;
    flex-wrap: wrap;
 }

 #botonEnviar{
    margin-top: 5px;
    
 }
 #iframe{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    margin-left: 15px;
    width: auto;
 }
 
 #classContacto{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
 }
 @media screen and (max-width: 680px){
    #classContacto{
        display: flex;
        flex-direction: column;
    }

 }
 .headerContacto{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #0e485a;
 }
 #mainContacto{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 15px;
 }
 @media screen and (max-width: 995px){
   #mainContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    align-items: center;
   }
   main section{display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    align-items: center;
}
 }
 .h2Contacto{
    text-decoration: none;
    font-size: 25px;
    padding: 0%;
 }
 .bg-Button{
    background-color: whitesmoke;
    border: black solid 1px;
 
 }
main section div{
    width: auto;
    
}