nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 136);
    border-bottom: $borderSolid;
    a{
        img{
            width: 14em;
            height: 9em;
            border: solid 1.5px black;
            border-radius: 5%;
        }
    }
    ul{
        list-style: none;
        display: flex;
        li{
            a{
                text-decoration: none;
                font-size: 2rem;
                color: $colorWhite;
                margin: 25px;
                &:hover{
                    text-decoration: underline;
                    color: rgb(36, 34, 34);
                } 
            }
        }
    }
}
.navbar-toggler{
    border: solid 2px aliceblue;
    font-size: 20px;
}
.navbar-toggler-icon{
    text-decoration-color: aliceblue;
}
//footer
footer{
    background-color: #0e485a;
    border: $borderSolid;
    ul{
       @include footlist(none,none,flex,center);
        li{
            img{
                width: 4rem ;
                height: 4rem;
                margin: 10px;
        
            }
        }
        
    }
}    

        

    
   